* {
  margin    : 0;
  padding   : 0;
  outline   : 0;
  box-sizing: border-box;
  outline   : none;
}

html,
body,
#root {
  height: 100%;
}

body {
  background            : #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar-thumb {
  background   : #b6c2e4ad;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  max-width : 6px;
  width     : 6px !important;
  background: transparent;
}

button {
  cursor: pointer;
}

body,
input,
button {
  font: 16px Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  text-align: center;
}

.logo img {
  height        : 64px;
  user-select   : none;
  pointer-events: none;
}

.w-f {
  width: 100% !important;
}